name: ci

on:
  pull_request:
    paths-ignore:
      - "*.md"
  push:
    branches:
      - master
    paths-ignore:
      - "*.md"
jobs:
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14, 16]

    steps:
      - uses: actions/checkout@v1
      - name: use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: install
        run: npm install --legacy-peer-deps
      - name: build
        run: npm run dist:build
      - name: test
        run: npm run test
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: rx-query
          path: |
            package.json
            README.md
            dist
      # - name: Release
      #   if: github.repository == 'timdeschryver/rx-query' && github.ref == 'refs/heads/master' && matrix.node-version == 16
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      #   run: npx semantic-release
      # - name: deploy storybook to GH pages
      #   if: github.repository == 'timdeschryver/rx-query' && github.ref == 'refs/heads/master' && matrix.node-version == 16
      #   run: npm run deploy-storybook -- --ci
      #   env:
      #     GH_TOKEN: ${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}
